ul{
  list-style-type:none;
  margin:0
  padding:0;
  overflow:hidden;
  background-color:777;
  float:left;
}
li{
  display: block;
}
li a{
  color:red;
  text-align:center;
  padding: 10px 12px;
}
li a:hover{
  background-color:#111;
}
.active{
  background-color:#04aa6d;
}
.dropDown{
position:relative;
display:inline-block;
cursor:pointer;
}
.dropDown-content{
  display:none
  position:absolute;
  z-index:1;
}
.dropDown-content a{
  .dropDown:hover .dropDown-content{
    display:block;
  }
